/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#0055A2;   /* background color */
	color: #444;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	   color:#FFFFFF;       /* exploring new text color */

}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:20px;
	text-align:left;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: white;
	padding:10px;
	display: flex;
	flex-wrap:wrap;
	justify-content: left;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
	font-weight: regular;
	font-size: 125%;
}

.stepImage {
	width:40%;	
	padding:10px;
	text-align: center;
}

.stepImage img {
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}